*{
    background-color: grey;
}

.topnav {
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 3px #7070db;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #7070db;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.column {
    float: left;
    
}

.left {
    width:60%
}

.right {
    
    padding-left: 50px;
    width: 25%
}

img{
    width:40%px;height:40%;
}
footer{
    display: block;
}